# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
.env
.env.*
*.env
credentials.json
*.pem
*.key
.credentials
.next/dev/cache/turbopack/411c455d/00000613.sst
.next/dev/cache/turbopack/411c455d/00000682.sst
.next/dev/cache/turbopack/411c455d/00001170.sst
.next/dev/cache/turbopack/411c455d/00001312.sst
.next/dev/cache/turbopack/411c455d/00001503.sst
.next/dev/cache/turbopack/411c455d/00001648.sst
.next/dev/cache/turbopack/411c455d/00003287.sst
.next/dev/cache/turbopack/411c455d/00006335.sst
.next/dev/cache/turbopack/411c455d/00008724.sst
.next/dev/cache/turbopack/411c455d/00010514.sst
.next/dev/cache/turbopack/411c455d/00010796.sst
.next/dev/cache/turbopack/411c455d/00011044.sst
